[submodule "libraries/minhook"]
	path = libraries/minhook
	url = https://github.com/TsudaKageyu/minhook
[submodule "libraries/nfd-extended"]
	path = libraries/nfd-extended
	url = https://github.com/btzy/nativefiledialog-extended
[submodule "libraries/imgui-notify"]
	path = libraries/imgui-notify
	url = https://github.com/patrickcjk/imgui-notify
[submodule "libraries/imgui"]
	path = libraries/imgui
	url = https://github.com/ocornut/imgui
[submodule "libraries/imgui-hook"]
	path = libraries/imgui-hook
	url = https://github.com/adarift/imgui-hook
[submodule "libraries/cocos-headers"]
	path = libraries/cocos-headers
	url = https://github.com/HJFod/cocos-headers
[submodule "libraries/7zip-cpp"]
	path = libraries/7zip-cpp
	url = https://github.com/getnamo/7zip-cpp
[submodule "libraries/gd.h"]
	path = libraries/gd.h
	url = https://github.com/adarift/gd.h
[submodule "libraries/curl"]
	path = libraries/curl
	url = https://github.com/curl/curl
[submodule "libraries/rapidjson"]
	path = libraries/rapidjson
	url = https://github.com/Tencent/rapidjson
[submodule "libraries/ClipboardXX"]
	path = libraries/ClipboardXX
	url = https://github.com/Arian8j2/ClipboardXX
