[submodule "libraries/minhook"]
	path = libraries/minhook
	url = https://github.com/TsudaKageyu/minhook
[submodule "libraries/nfd-extended"]
	path = libraries/nfd-extended
	url = https://github.com/btzy/nativefiledialog-extended
[submodule "libraries/imgui-notify"]
	path = libraries/imgui-notify
	url = https://github.com/patrickcjk/imgui-notify
[submodule "libraries/imgui"]
	path = libraries/imgui
	url = https://github.com/ocornut/imgui
[submodule "libraries/imgui-hook"]
	path = libraries/imgui-hook
	url = https://github.com/oneparsec/imgui-hook
[submodule "libraries/cocos-headers"]
	path = libraries/cocos-headers
	url = https://github.com/HJFod/cocos-headers
[submodule "libraries/7zip-cpp"]
	path = libraries/7zip-cpp
	url = https://github.com/getnamo/7zip-cpp
